body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  margin: 50px;
}

h1 {
  color: #007e7e;
  border-bottom: 2px solid black;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 130%;
}

p {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  grid-gap: 5%;
}

.subcontainer {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  grid-gap: 5%;
}

.container-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

